version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: panion_db
    restart: always
    environment:
      POSTGRES_DB: panion
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: panion_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      # You could move these to env vars, but hardcoding in settings.py is fine for dev
      - DJANGO_SETTINGS_MODULE=panion_backend.settings

  frontend:
    build: ./frontend
    container_name: panion_frontend
    command: npm start
    volumes:
      - ./frontend:/app
      #- /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  pgdata:
